<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4 services">
      <br>
      <p align="center">Customer</p>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4" align="center" (click)="registration();">
          <span class="glyphicon glyphicon-th-list iconLogo"></span>
          <p>Registration</p>
          <br>
        </div>
        <div class="col-sm-4" align="center" (click)="calendar();">
          <span class="glyphicon glyphicon-calendar iconLogo"></span>
          <p>Calendar</p>
          <br>
        </div>
      </div>
    </div>
    <div class="services col-sm-4">
      <br>
      <p align="center">Inventory</p>
      <div class="" align="center">
        <span class="	glyphicon glyphicon-list-alt iconLogo"></span>
        <p>Manage</p>
        <br>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row" align="center">
    <div class="col-sm-2"></div>
    <div class="col-sm-4" align="center">
      <img src="../../assets/images/menAvatar.png" class="avatar" (click)="menServices();">
    </div>
    <div class="col-sm-4" align="center">
      <img src="../../assets/images/womenAvatar.png" class="avatar" (click)="womenServices();">
    </div>
  </div>
</div>
<br>
<br>
<br>