<div class="container">
  <p class="title">{{titleBenefits}}</p>
  <div class="row">
    <br>
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <div align="center">
        <span class="glyphicon glyphicon-tasks" style="font-size:25px;color:#4267b2;"></span>
        <p style="color:#4267b2;">Manage your client</p>
        <p class="text-justify" style="color:#4267b2;"> Maintain client relationships with advanced salon software management features with detailed client appointments
          history, booking preferences, future bookings and contact details.
        </p>
      </div>
      <br>
      <div align="center">
        <span class="glyphicon glyphicon-dashboard" style="font-size:25px; color:#4367b2;"></span>
        <p style="color:#4267b2;">Activity Dashboard</p>
        <p class="text-justify" style="color:#4267b2;">
          Keep track of daily appoitment scheduling activities and never miss a beat. The free dashboard displays up to date appointment
          bookings, online bookings, appointment cancelations and client notifications.
        </p>
      </div>

    </div>
    <div class="col-sm-3">
      <div align="center">
        <span class="glyphicon glyphicon-tags" style="font-size:25px;color:#4267b2"></span>
        <p style="color:#4267b2;">Sales & Products</p>
        <p class="text-justify" style="color:#4267b2;">
          It has point-of-sale built-in, takes care of your salon and Spa pos sales transactions, invoicing, receipts, taxes and
          retail product management. this POS is advanced and fully integrated with salon scheduling app.
        </p>
      </div>
      <br>
      <div align="center">
          <span class="glyphicon glyphicon-list-alt" style="font-size:25px;color:#4267b2"></span>
          <p style="color:#4267b2;">Manage Inventory</p>
          <p class="text-justify" style="color:#4267b2;">
           Trcak your products and manage the inventory. Here you will get the good UI to manage your products and other stuffs.
          </p>
        </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>